# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.QuestSystem.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Christoph\Desktop\Unity\Unity-Projects\QuestSystem\.idea\.idea.QuestSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
